<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>

    <div id="game">
      <!-- Section to show monster's health -->
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBarStyle"></div>
        </div>
      </section>

      <!-- Section to show player's health -->
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyle"></div>
        </div>
      </section>

      <!-- Section to show the result of the game only when it's finished and there is a winner -->
      <section class="container" v-if="winner">
        <h2>Game Over!</h2>
        <h3 v-if="winner==='monster'">You lost!</h3>
        <h3 v-else-if="winner==='player'">You win!</h3>
        <h3 v-else>It's a draw!</h3>
        <button @click="startNewGame">Start a new game.</button>
      </section>

      <!-- Section to show control buttons as long the game isn't finished and there is no winner -->
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="after3Rounds" @click="specialAttackMonster">
          SPECIAL ATTACK
        </button>
        <button @click="healPlayer">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>

      <!-- Section to show log messages through the game -->
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="message in logMessages">
            <span
              :class="{'log--player':message.actionBy=='Player','log--monster':message.actionBy=='Monster'}"
              >{{message.actionBy}}
            </span>

            <span v-if="message.actionType==='heal'"
              >heals himself for<span class="log--heal">
                {{message.actionValue}}</span
              ></span
            >

            <span v-else
              >attacks and deals<span class="log--damage">
                {{message.actionValue}}</span
              ></span
            >
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
